body{
    background: #fcfcfc;
    font-size: 100%;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
}


a{
    text-decoration: none;
    color: #0A7EC3;
}

a:hover{
    text-decoration-style: underline;
}

h1{
    font-size: 135%;
}

#estrutura{
    max-width: 920px;
    margin: 0 auto;
    padding: 2px;
}

#content{
    width: 60%;
    margin-right: 5%;
    float: left;
    margin-bottom: 0.8em;
}

aside{
    width: 35%;
    float: right;
    margin-bottom: 0.8em;
}

#logo{
    float: left;
    display: block;
}

#menu{
    float: right;
    margin-top: 1em;
}

#menu li{
    display: inline;
    margin-left: 1em;
}

#menu a{
    text-transform: uppercase;
}

#topo{
    float: left;
    padding-top: 0.5em;
}

#topo img{
    width: 100%;
}


footer{
    clear: both;
    text-align: #0A7EC3;
    color: #fcfcfc;
    display: block;
    padding:0.8em;
}

/*nao finciona*/
@media screen and (max-width:960px){
    
    
    #topo{
        padding-top: 0px;
        margin-bottom: 1em;
    }

    #content,
    #manu,
    aside{
        clear: both;
        margin-bottom: 0.8em;
        width: 100%;
    }
}





