/* Relatividade na Web 

Formula
Alvo/Contexto = Resultado

Alvo:
elemento com a medida a ser calculada

Contexto:
Posição do elemento dentro da estrutura HTML, (Tamanho por base
a elemento pai, na falta deste, seus ascedentes;

Resultado: 
O valor da "Responsividade"
*/


.container {
  margin: 0 auto;
  width: 72%; /* 960 px*/ 
}

/*Aplicando tecnicas de design Responsivo*/
.news {
  /*width: 480px;*/
  width: 50%; /* alvo=480 / contexto=960 = Resultato 0.50% */
}

.news .title {
  /*font-size: 20px; 16 valor padrão do navegador */
  font-size: 1.25em; /* alvo=20 / contexto=16 Resultato: 1,25em */
}

.news .intro {
  font-size: 14px;
  font-style: 1.875em; /* alvo=14 / contexto=16 = Resultato 0,875em */
}